*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
    
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(213, 15, 15);
    font-family: 'Poppins', sans-serif;
}

.main-container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(33, 33, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tablee{
    overflow-y: scroll;
    height: 500px;
    width: 800px;
    background-color: rgb(70, 47, 77);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
    border-spacing: 10px;
    color: white;
}

.tablee th{
    border: 3px solid rgb(176, 168, 168);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.edit, .del{
    border: none;
    width: 50px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    margin: 3px;
    transition: 0.3s;
}
.view{
    width: 100px;
}
.tablee button:hover{
    background-color: rgb(31, 210, 103);
    color: rgb(0, 0, 0);
}
.edit{
    background-color: rgb(115, 94, 145);
    color: rgb(255, 255, 255);
}
.del{
    background-color: rgb(192, 64, 64);
    color: white;
}
.tablee .butts{
    border: none;
}
.butts{
    display: flex;
    justify-content: center;
}

/* width */
.tablee ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
.tablee ::-webkit-scrollbar-track {
    background: #712929;
  }
  
  /* Handle */
.tablee ::-webkit-scrollbar-thumb {
    background: #5b1ab0;
  }
  
  /* Handle on hover */
.tablee ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.medf{
    height: 50px;
    width: 50px;
}